# Editor's metafiles, please, feel free to add here if you find some more, like Atom etc.
.vscode/
build/
obj/

# Executables
avgLib
avgLib.exe

# The library
libAvgLib.a

# Files that should be excluded
*.o
*.a